.app-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
  color: #e50914;
  overflow: hidden;
  margin-bottom: 10px;

  .inner {
    margin: 0 auto;
  }

  .title {
    float: left;
    font-family: Impact, Lato, sans-serif;;
    margin: 5px;
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  .header-right {
    float: right;
  }

  .search-form {
    display: inline;
    position: relative;
    float: left;

    &:before {
      content: "\f002";
      position: absolute;
      top: 16px;
      left: 12px;
      color: white;
      font-family: FontAwesome;
    }
  }

  .search-input,
  .display-select {
    -webkit-appearance: none;
    margin: 10px 5px;
    padding: 0 8px;
    float: left;
    color: white;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    height: 30px;
    font-size: 0.85rem;
  }

  .search-input {
    width: 200px;
    padding-left: 26px;

    &:before {
      content: "S";
      color: white;
      font-family: FontAwesome;
    }
  }

  .display-select {
    width: 100px;
  }

  .term {
    height: 30px;
    margin: 12px;
    float: left;

    a {
      display: inline-block;
      padding: 5px;
      color: #ffffff;
    }
  }
}
