/* _base.scss */
html,body
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.pull-left {
	float: left;
}

.pull-left:after {
	clear: both;
}

.pull-right {
	float: right;
}

.pull-right:after {
	clear: both;
}
