{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "it": true,
    "sinon": true,
    "beforeEach": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "comma-dangle": [2, "never"]
  }
}