{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": "airbnb",
  "globals": {
    "describe": true,
    "xit": true,
    "it": true,
    "sinon": true,
    "beforeEach": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "comma-dangle": [2, "never"],
    "max-len": [2, 140, 4],
    "new-cap": 0,
    "radix": [2, "as-needed"],
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-no-bind": 0,
    "react/prefer-es6-class": 1,
    "react/prefer-stateless-function": 1
  }
}
