.cart-tile{
  width: 500px;
  border: 1px solid white;
  margin: 10px auto;
  padding: 20px;
  color: white;

  .cart-container{
    text-align: left;

    .image-container, .content-container{
      display: inline-block;
    }

    .content-container{
      display: inline-block;
      vertical-align: top;
      margin-left: 10px;
      width: 380px;

      h2, p, Rating{
        margin-bottom: 8px;
      }
    }
  }
}
