.items {
  height: 80%;
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translateY(-50%) translateX(-50%);
  .item {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    width: 200px;
    height: 300px;
    background-color: black;
    transition-duration: .5s;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    .bg-img {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center top;
    }
    &:hover {
      a {
        .content {
          transform: translateY(0) translateX(-50%);
          transition-delay: .25s;
          opacity: 1;
        }
      }
    }
    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      z-index: 2;
      .stars {
        z-index: 3;
      }
      .content {
        h2 {
          font-size: 1rem;
        }
        font-size: 1rem;
        background: linear-gradient(transparent, rgba(0, 0, 0, .75));
        width: 100%;
        height: 60%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(100%) translateX(-50%);
        transition-duration: 1s;
        opacity: 0;
        padding: 40px 10px 10px 10px;
        width: 400px;
      }
    }
  }
}