/*.movie-tile {
  margin-left: 20px;
  float: left;
  position: relative;
  width: 20%;

  @media only screen and (max-width : 480px) {
        width: 100%;
        padding-bottom: 100%;
  }
  @media only screen and (max-width : 650px) and (min-width : 481px) {
        width: 50%;
        padding-bottom: 50%;
  }
  @media only screen and (max-width : 1050px) and (min-width : 651px) {
        width: 33.3%;
        padding-bottom: 33.3%;
  }
  @media only screen and (max-width : 1290px) and (min-width : 1051px) {
        width: 35%;
        padding-bottom: 25%;
  }

  .img-container {
    width: 50%;
  }

  .img, .movie-row__img {
    width: 100%;
    height: 0;
    padding-bottom: 150%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;;
  }

  .info {
    width: 50%;
    text-align: center;
  }

  .title {
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0;
  }

  .year {
    font-size: .8em;
    font-weight: normal;
    color:gray;
  }

  .stars {
    font-size: .9em;
    text-align: center;
  }
}

.movie-tile:nth-child(3n) {
  margin-right: 0;
  clear: right;
}*/
